body {
  background-color: lightskyblue;
}
img {
  width: 13rem;
  height: 11rem;
  object-fit: cover;
}
.row {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.JGTC {
  display: flex;
  flex-direction: column;
}
.cars {
  margin: 1rem;
  padding: 1rem;
  border: 3px solid black;
}
